# ignore API Key file
CMCApiKey.txt

# ignore log and db folders
/logs
/db

# unknown files (git required I believe)
.DS_Store
__pycache__/

# folders and files created when testing automator
autorun.workflow/
config.pyc
